@font-face 
{
	font-family: 'Marketingscript';
	    src: url( 'http://stargazers.nor.fi/fonts/marketingscript/marketingscript-webfont.eot' );
		src: local('☺'), 
			url( 'http://stargazers.nor.fi/fonts/marketingscript/marketingscript-webfont.woff' ) 
			format('woff'), 
			url( 'http://stargazers.nor.fi/fonts/marketingscript/marketingscript-webfont.ttf' ) 
			format('truetype');
} 

@font-face 
{
	font-family: 'BonvenoCF';
	    src: url( 'http://stargazers.nor.fi/fonts/bonvenocf/BonvenoCF-Light-webfont.eot' );
		src: local('☺'), 
			url( 'http://stargazers.nor.fi/fonts/bonvenocf/BonvenoCF-Light-webfont.woff' ) 
			format('woff'), 
			url( 'http://stargazers.nor.fi/fonts/bonvenocf/BonvenoCF-Light-webfont.ttf' ) 
			format('truetype');
} 

#top_logo
{
	font-family: 'Marketingscript';
	font-size: 4em;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.top_menu
{
	font-family: 'BonvenoCF';
	width: 80%;
	margin-top: 0.5em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.top_menu_item a:link, .top_menu_item a:visited
{
	margin-right: 0.5em;
	padding: 0.5em;
	padding-left: 0.3em;
	padding-right: 0.3em;
	font-size: 1.5em;
	color: black;
	text-decoration: none;
}

.top_menu_item_selected a:link, .top_menu_item_selected a:visited
{
	margin-right: 0.5em;
	padding: 0.5em;
	padding-left: 0.3em;
	padding-right: 0.3em;
	font-size: 1.5em;
	color: red;
	text-decoration: none;
}

.top_menu_item a:hover, .top_menu_item_selected a:hover
{
	background-color: gray;
}

.site_content, .about_site_content
{
	margin: auto;
	margin-top: 1em;
	width: 37em;
	border-top: 1px solid black;
	padding: 1em;
}

.site_content p, .site_content table, .site_content input,
.about_site_content
{
	font-family: 'BonvenoCF';
}

.about_site_content p, .about_site_content pre,
.about_site_content a:link, .about_site_content a:visited
{
	margin-left: 1.5em;
}

.about_site_content a:link, .about_site_content a:visited
{
	color: blue;
	text-decoration: none;
}

.about_site_content a:hover
{
	color: red;
}

.site_content input[type=submit]
{
	background-color: white;
	margin-top: 2em;
	border: 1px solid black;
	color: red;
	padding: 0.8em;
}

h1
{
	font-family: 'Marketingscript';
}
